
* {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.hind-siliguri-regular {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inder-regular {
  font-family: "Inder", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.active{
  background-color: #422AD5;
  color: white;
}