* {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;

}
.inder-regular {
  font-family: "Inder", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.img {
    background-image: url('./banner-image.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: auto;
    background-color: rgba(0, 0, 0, 0.5);
    
}